<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLaWoE0SdQ0oIZ925fhCBTvndCMgdkE6M</string>
	<key>GCM_SENDER_ID</key>
	<string>796310582085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterR5App</string>
	<key>PROJECT_ID</key>
	<string>flutter-r5-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-r5-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796310582085:ios:33a59a312b628ade3bc42c</string>
</dict>
</plist>